# =============================================================================
# Python
# =============================================================================

__pycache__/
*.py[cod]

# Virtual Environments
.venv/
venv/

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store